<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <div id="app">
            <div id="app-contents" data-animation="animate-in-bottom-to-top">
                <div class="add" data-link href="/todo/new-note">
                    <i class="fi fi-sr-add-document add-icon"></i>
                    <h1 class="add-title">Add something to <span class="add-title-folder" id="add-note">Notes</span>
                    </h1>
                </div>
            </div>
        </div>
    </body>

</html>