<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>

        <div id="app">
            <div id="app-contents" data-animation="animate-in-bottom-to-top">
                <div class="hashtags">
                    <div class="hashtags-field">
                        <input type="text" class="hashtags-field-input" name="hashtag" id="hashtag-input">
                        <i class="fi fi-rr-redo hashtags-field-icon" id="add-hashtag"></i>
                    </div>
                    <div class="hashtags-list"></div>
                </div>
                <div class="note">
                    <textarea class="note-area" data-pattern="pattern-1" data-note-color="black"
                        data-note-font="ballpoint" id="note-value"></textarea>
                </div>
            </div>
        </div>
    </body>

</html>