@import url(../consts/_variables.css);

#app.home {
    position: relative;

    #app-contents {
        width: 100%;
        height: 100%;

        .notes {
            width: 100%;
            height: 92% !important;
            overflow-y: scroll;
            overflow-x: hidden;

            &-sizer {
                width: 33.33%;
            }

            .note {
                width: calc(33.33% - 10px);
                margin: 0 0 10px;
                border-radius: 10px;
                overflow: hidden;
                position: relative;

                &-background{
                    width: 100%;
                    display: block;
                    border-radius: 10px;

                }
                &-gradient{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: calc(100% + 5px);
                    height: calc(100% + 5px);
                    border-radius: 10px;
                    
                }
                &-title{
                    // mix-blend-mode: difference;
                    padding: 5px 15px;
                    background-color: var(--primary-background-color);
                    border-radius: 5px ;
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    font-size: var(--secondary-font-size);
                    font-family: var(--ternary-font);
                    color: var(--secondary-color);
                    max-width: 80%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    z-index: 10;
                }
                &-go{
                    position: absolute;
                    background-color: var(--primary-background-color);
                    height: var(--primary-font-size);
                    width: var(--primary-font-size);
                    border-radius: 50%;
                    top: 10px;
                    right: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &-icon{
                        font-size: var(--text-font-size);
                        color: var(--secondary-color);
                    }
                }
            }
        }
        .hashtags{
            width: 100%;
            height: calc( 8% - 10px );
            margin-bottom: 10px;
            border-radius: 10px;
            background-color: var(--secondary-background-color);
            display: flex;
            align-items: center;
            padding: 0 5px;
            .hashtag{
                height: calc(100% - 10px);
                margin: 10px 0;
                padding: 0 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                &-value{
                    color: var(--secondary-color);
                    font-size: var(--text-font-size);
                    font-family: var(--primary-font);
                    text-transform: capitalize;
                }
                &-line{
                    position: absolute;
                    left: 0;
                    bottom: 10%;
                    height: 2px;
                    width: 0%;
                    background-color: var(--primary-color);
                    border-radius: 5px;
                    transition: width 0.1s ease;
                }
                &.active{
                    .hashtag-line{
                        width: 100%;
                    }
                }
            }
        }

        .add {
            position: absolute;
            bottom: 0px;
            right: var(--padding);
            border-radius: 20px;
            max-width: calc(var(--primary-font-size) * 1.5);
            height: calc(var(--primary-font-size) * 1.5);
            background-color: var(--primary-color);
            overflow: hidden;
            transition: all 1s ease;
            display: flex;
            align-items: center;
            padding: 10px;
            gap: 10px;


            &-icon {
                min-width: var(--primary-background-color);
                left: calc(var(--primary-font-size) * 0.75);
                font-size: var(--primary-font-size);
                color: var(--primary-background-color);
            }

            &-title {
                gap: 4px;
                display: flex;
                align-items: center;
                opacity: 0;
                transition: all 0.2s ease;
                font-size: var(--text-font-size);
                font-family: var(--primary-font);
                font-weight: 400;

            }

            &:hover {
                max-width: 100%;

                .add-title {
                    opacity: 1 !important;
                    transition-delay: 0.2s;
                }
            }
        }
    }
}